@model IEnumerable<MyShoppingApp.Models.Product>;
<h1>My Products</h1>
<hr/>
<table class="table table-bordered table-st">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Category</th>
			<th>EDIT</th>
			<th>DELETE</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>@item.Description</td>
				<td>@item.Category</td>
				<td><a asp-controller="Product" asp-action="EditProduct" asp-route-id="@item.Id" class="btn btn-primary">EDIT</a></td>
				<td><a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@item.Id" class="btn btn-danger">DELETE</a></td>
			</tr>
		}
	</tbody>
	</table>
<a asp-controller="Product" asp-action="AddProduct" class=" btn btn-outline-primary">Back to Add Products</a>